@model assignment2herhealth.Models.HealthSuggestion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HealthSuggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HealthSuggestionId" />
            <div class="form-group">
                <label asp-for="PeriodEntryId" class="control-label"></label>
                <select asp-for="PeriodEntryId" class="form-control" asp-items="ViewBag.PeriodEntryId"></select>
                <span asp-validation-for="PeriodEntryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterIntake" class="control-label"></label>
                <input asp-for="WaterIntake" class="form-control" />
                <span asp-validation-for="WaterIntake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthyFoods" class="control-label"></label>
                <input asp-for="HealthyFoods" class="form-control" />
                <span asp-validation-for="HealthyFoods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
